<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (c) Microsoft Corporation.

  Licensed under the MIT license.
-->
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <AppContextSwitchOverrides value="Switch.System.Security.Cryptography.UseLegacyFipsThrow=false" />
    <gcConcurrent enabled="false" />
    <GCCpuGroup enabled="true" />
    <gcServer enabled="true" />
    <Thread_UseAllCpuGroups enabled="true" />
    <ThrowUnobservedTaskExceptions enabled="true" />
  </runtime>
</configuration>