<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="projectExtensions" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <projectExtensions>
    <!-- key=project file extension; value=project type guid -->
    <add key="ccproj" value="{CC5FD16D-436D-48AD-A40C-5A424C6E3E79}" />
    <add key="csproj" value="{FAE04EC0-301F-11D3-BF4B-00C04F79EFBC}" />
    <add key="vbproj" value="{F184B08F-C81C-45F6-A57F-5ABD9991F28F}" />
    <add key="vcxproj" value="{8BC9CEB8-8B4A-11D0-8D11-00A0C91BC942}" />
    <add key="wixproj" value="{B3114B3F-503F-4C6B-8F6B-11B5D57DA9B9}" />
    <add key="dbproj" value="{67cbc824-a49e-4e9b-a947-360f3dfe65c3}" />
    <add key="sqlproj" value="{00D1A9C2-B5F0-4AF3-8072-F6C62B433612}" />
    <add key="fsproj" value="{c9194c08-e1a8-4dff-aaa7-570de1666c36}" />
    <add key="pyproj" value="{888888A0-9F3D-457C-B088-3A5042F75D52}" />
    <add key="psproj" value="" />
    <add key="proj" value="" />
    <add key="nuproj" value="" />
    <add key="njsproj" value="{9092AA53-FB77-4645-B42D-1CCCA6BD08BD}" />
    <add key="scopeproj" value="" />
    <add key="sfproj" value="{49DAF29A-F5EC-43C9-B487-BFA242F69E3E}" />
  </projectExtensions>
</configuration>