---
---

@import "{{ site.theme }}";
@media screen and (min-width:64em) {
    .main-content {
        max-width: 100rem;
        padding: 2rem 6rem;
        margin: 0 auto;
        font-size: 1.1rem;
    }
}
.foo { width: 100%; }
